.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: "Heebo";
    color: rgba(255, 255, 255, 0.904);
    
}
.content{
    display: flex;
    flex-direction: column;
}
.content label{
    margin-top: 10px;
    font-size: 1.4rem;
}
.content input{
    margin-top: 5px;
    height: 22px;
    max-width: 200px;
    padding: 5px;
    background-color: #0860a800;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    overflow: hidden;
}
.content input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.content input::placeholder{
    color: rgba(255, 255, 255, 0.425);
}
.form div button{
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    background-color: #074b8200;
    border: 1px solid rgba(255, 255, 255, 0.897);
    color: white;
    cursor: pointer;
}
form div button:hover{
    background-color: #074A82;
    border: 1px solid rgba(255, 255, 255, 0.712);
    transition: 600ms;
}
.errorMsg{
    color: rgba(255, 0, 0, 0.712);
    margin-top: 5px;
}
.checkbox{
    margin-top: 10px;
}